<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>My Place</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="row">
        <div class="col-12">
            <h3>Events</h3>  
            <hr/>          
        </div>
    </div>        
    <div class="row">
        {% for event in events %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    {{googlemap(event['id'], lat=event['latitude'], lng=event['longitude'], markers=[(event['latitude'], event['longitude'])], style="height:200px;width:100%", zoom=16)}}
                </div>  
                <div class="card-body">
                    <h4 class="card-title">{{event['title']}}</h4>
                    <p class="card-text">Description: {{event['description']}}</p>
                    <p class="card-text">Date: {{event['date']}}</p>
                    <p class="card-text">Time: {{event['time']}}</p>
                    <hr/>
                    <h5 class="card-text">Travel</h5>
                    <h6 class="card-text">Bus</h6>
                    <p class="card-text">Distance: {{event['distance_bus']}} / Duration : {{event['duration_bus']}} </p>
                    <h6 class="card-text">Driving</h6>
                    <p class="card-text">Distance: {{event['distance_driving']}} / Duration : {{event['duration_driving']}} </p>
                    <hr/>
                    <h5 class="card-text">Weather</h5>
                    <p class="card-text">Temperature: {{event['temperature']}}°C <img src="{{event['img']}}"></p>
                </div>
            </div>
        </div>
        {% endfor %}            
    </div>
    {% endblock %}
</body>
</html>